In [17]:
import statsmodels.api as sm
import pandas as pd

In [36]:
df = pd.read_csv('synthetic_distribution.csv')
df.head()

,wealth - salary,wealth - investment gain,wealth - rental income,wealth - business revenue,wealth - inheritance,wealth - others,fund - salary,fund - investment gain,fund - rental income,fund - business revenue,fund - inheritance,fund - others,Age,Occupation,speed_of_payment
0,True,False,False,False,False,False,False,False,False,False,True,False,78,24 Business & Administration Professionals,44
1,False,False,True,False,False,False,False,False,True,False,False,False,51,33 Business & Administration Associate Profess...,38
2,False,True,False,False,False,False,True,False,False,False,False,False,54,43 Numerical & Material-Recording Clerks,46
3,False,True,False,False,False,False,False,False,True,False,False,False,35,"14 Hospitality, Retail & Related Services Mana...",55
4,False,False,True,False,False,False,True,False,False,False,False,False,23,42 Customer Services Officers & Clerks,37

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   wealth - salary            100 non-null    bool
 1   wealth - investment gain   100 non-null    bool
 2   wealth - rental income     100 non-null    bool
 3   wealth - business revenue  100 non-null    bool
 4   wealth - inheritance       100 non-null    bool
 5   wealth - others            100 non-null    bool
 6   fund - salary              100 non-null    bool
 7   fund - investment gain     100 non-null    bool
 8   fund - rental income       100 non-null    bool
 9   fund - business revenue    100 non-null    bool
 10  fund - inheritance         100 non-null    bool
 11  fund - others              100 non-null    bool
 12  Age                        100 non-null    int64
 13  Occupation                 100 non-null    object
 14  ai_declaration             100 non-null    object
dtypes: bool(12), int64(1), object(2)
memory usage: 3.6+ KB

In [20]:
df.describe(include='all')

,wealth - salary,wealth - investment gain,wealth - rental income,wealth - business revenue,wealth - inheritance,wealth - others,fund - salary,fund - investment gain,fund - rental income,fund - business revenue,fund - inheritance,fund - others,Age,Occupation,ai_declaration
count,100,100,100,100,100,100,100,100,100,100,100,100,100.000000,100,100
unique,2,2,2,2,2,2,2,2,2,2,2,2,NaN,31,3
top,False,False,False,False,False,False,False,False,False,False,False,False,NaN,12 Administrative & Commercial Managers,income
freq,67,59,86,90,93,94,50,90,90,90,90,90,NaN,13,70
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.580000,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.750556,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.000000,NaN,NaN

In [10]:
# Convert categorical columns into dummy variables
df_encoded = pd.get_dummies(df, columns=["Source of wealth other", "Source of funds other"], drop_first=True)

# Convert boolean columns to numerical (0 for False, 1 for True) for statistical analysis
df_encoded = df_encoded.replace({True: 1, False: 0})

# Define the target variable 'default' and the features (now encoded)
X_encoded = df_encoded.drop(columns=['Id', 'default'])
y_encoded = df_encoded['default']

# Add a constant to the model (intercept)
# X_encoded = sm.add_constant(X_encoded)

/var/folders/pj/3bkj7rdx41j_rvx83ys41kth0000gn/T/ipykernel_46421/1303654562.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_encoded = df_encoded.replace({True: 1, False: 0})

In [11]:
X_encoded.head()

,AI declaration,Source of wealth salary,Source of wealth investment gain,Source of wealth inheritance,Source of wealth rental income,Source of wealth business revenue,Source of funds salary,Source of funds investment gain,Source of funds inheritance,Source of funds rental income,Source of funds business revenue,Age,Source of wealth other_IP ownership,Source of wealth other_Royalty earnings,Source of funds other_Grant,Source of funds other_Pension
0,0,1,0,1,0,1,1,0,0,1,0,30,0,1,0,0
1,0,1,1,0,0,1,0,0,1,0,0,53,0,0,0,1
2,1,1,0,0,0,1,1,0,1,0,0,28,0,1,0,1
3,1,0,0,0,1,0,0,0,1,1,0,33,0,0,1,0
4,0,0,1,0,0,0,1,1,0,0,1,28,1,0,0,1

In [12]:
# Fit a logistic regression model to see the significance of each feature
logit_model_encoded = sm.Logit(y_encoded, X_encoded)
result_encoded = logit_model_encoded.fit()

Optimization terminated successfully.
         Current function value: 0.329470
         Iterations 8

In [13]:
# Get the summary of the logistic regression model
summary_encoded = result_encoded.summary()
print(summary_encoded)

                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                  100
Model:                          Logit   Df Residuals:                       84
Method:                           MLE   Df Model:                           15
Date:                Wed, 02 Oct 2024   Pseudo R-squ.:                  0.2506
Time:                        11:28:28   Log-Likelihood:                -32.947
converged:                       True   LL-Null:                       -43.967
Covariance Type:            nonrobust   LLR p-value:                    0.1068
===========================================================================================================
                                              coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
AI declaration                             -0.5361      0.708     -0.757      0.449      -1.923       0.851
Source of wealth salary                    -1.2202      0.758     -1.609      0.108      -2.706       0.266
Source of wealth investment gain            1.7298      0.797      2.170      0.030       0.168       3.292
Source of wealth inheritance               -1.0132      0.729     -1.391      0.164      -2.441       0.415
Source of wealth rental income             -0.5804      0.652     -0.890      0.373      -1.858       0.697
Source of wealth business revenue          -0.8062      0.717     -1.124      0.261      -2.212       0.600
Source of funds salary                     -0.2920      0.739     -0.395      0.693      -1.741       1.157
Source of funds investment gain            -1.0639      0.683     -1.557      0.120      -2.403       0.276
Source of funds inheritance                 1.4238      0.758      1.878      0.060      -0.062       2.910
Source of funds rental income              -0.4882      0.697     -0.701      0.483      -1.853       0.877
Source of funds business revenue           -1.6059      0.748     -2.146      0.032      -3.072      -0.140
Age                                         0.0023      0.023      0.103      0.918      -0.042       0.047
Source of wealth other_IP ownership        -1.6010      0.962     -1.665      0.096      -3.486       0.284
Source of wealth other_Royalty earnings     0.5095      0.712      0.716      0.474      -0.885       1.904
Source of funds other_Grant                 0.2468      0.883      0.280      0.780      -1.484       1.977
Source of funds other_Pension               0.0358      0.890      0.040      0.968      -1.708       1.780
===========================================================================================================

In [34]:
import pandas as pd
occupation_df = pd.read_csv('data_reference/emp_res_detailed_occ.csv')
latest_occupation_df = occupation_df[occupation_df['Year'] == 2023]
latest_occupation_df.head()

     Year                                Detailed_Occupation  Emp_Res
504  2023  11 Legislators, Senior Officials & Chief Execu...    58200
505  2023            12 Administrative & Commercial Managers   172100
506  2023      13 Production & Specialised Services Managers   105200
507  2023  14 Hospitality, Retail & Related Services Mana...    34400
508  2023             21 Science & Engineering Professionals   166900

In [35]:
import matplotlib.pyplot as plt

plt.switch_backend('macos')
# Generate a distribution chart of the number of each occupation
plt.figure(figsize=(12, 8))
plt.bar(latest_occupation_df['Detailed_Occupation'], latest_occupation_df['Emp_Res'], color='skyblue')
plt.xticks(rotation=90)
plt.xlabel('Occupation')
plt.ylabel('Number of Employees')
plt.title('Distribution of Number of Employees by Occupation in 2023')
plt.tight_layout()
plt.show()

ValueError: Key backend: 'module://matplotlib_inline.backend_inline' is not a valid value for backend; supported values are ['gtk3agg', 'gtk3cairo', 'gtk4agg', 'gtk4cairo', 'macosx', 'nbagg', 'notebook', 'qtagg', 'qtcairo', 'qt5agg', 'qt5cairo', 'tkagg', 'tkcairo', 'webagg', 'wx', 'wxagg', 'wxcairo', 'agg', 'cairo', 'pdf', 'pgf', 'ps', 'svg', 'template']